/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*:root{
    --bg-color1: #101010;
    --bg-color2: #191919;
    --text-color1 : #000;
    --text-color2: #f9004d;
    --text-color3: #fcfc;
    --text-color4: #fff;
}*/

html{
    scroll-behavior: smooth;
}

header{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 10000;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo__container{
    width: 23%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo__container .logo__image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

header .logo__container .logo__description{
    text-transform: uppercase;
}

header .logo__container .logo__description a{
    color: #000000;
    text-decoration: none;
}

header .navigation__bar{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navigation__bar .nav__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navigation__bar .nav__list .nav__items{
    list-style: none;
    display: inline-block;
}

header .navigation__bar .nav__list .nav__items .nav__link{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: all .3s ease-in;
    text-transform: capitalize;
}

header .navigation__bar .nav__list .nav__items .nav__link:hover{
    border: 1px solid #000000;
    background: #000000;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
}

header .btn__contact{
    font-size: 20px;
    background: #010101;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all ease-in .3s;
}

header .btn__contact:hover{
    border: 1px solid #010101;
    background: #fff;
    color: #010101;
    padding: 1.5rem;
}

section{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 6rem;
    background: var(--bg-color1);
}

.hero{
    padding: 2rem;
    flex-direction: column;
}

.hero img{
    width: 30%;
    height: 500px;
    object-fit: cover;
    border-radius: 100%;
}

.hero .text__presentation{
    width: 70%;
    margin-top: 50px;
    text-align: center;
}

.hero .text__presentation h2{
    font-size: 50px;
    color: #010101;
    font-weight: bolder;
}

.hero .text__presentation h2 span{
    color: var(--text-color2);
    text-transform: uppercase;
}

.hero .text__presentation p{
    font-size: 25px;
    color: var(--text-color2);
}

.about{
    height: 70%;
    padding: 2rem;
    flex-direction: column;
}

.about h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}


.about main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.about main .presentation, .about main .supplement{
    width: 40%;
    height: 50%;
    border-radius: 20px;
    padding: 3rem;
    margin-top: 50px;
}

.about main .presentation h3, .about main .supplement h3{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.about main .supplement main{
    width: 80%;
}

.about main .supplement main .partie1 p{
    font-size: 18px;
}

.about main .supplement main .partie1 p span{
    text-transform: uppercase;
}

.about main .supplement main .partie2 p{
    font-size: 18px;
}

.about main .supplement main .partie2 p span a{
    color: var(--text-color4);
}

.presentation p{
    font-size: 18px;
}

.presentation p span{
    text-transform: uppercase;
    
}

.presentation p span a{
    color: var(--text-color2);
    text-decoration: none;
    letter-spacing: 2px;
    transition: all .3s ease-in;
}

.presentation p span a:hover{
    text-decoration: underline;
}


@media screen and (max-width:768px){
    html{
        scroll-behavior: smooth;
    }
    body{
        width: 100%;
    }

    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
    }

    header .navigation__bar{
        display: none;
    }

    header .btn__contact{
        display: none;
    }

    .hero{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero img{
        width: 50%;
        border-radius: 100px;
    }

    .hero .text__presentation{
        width: 100%;
    }

    .hero .text__presentation h2{
        font-size: 35px;
    }

    .about main{
        flex-direction: column;
    }

    .about main .presentation{
        width: 100%;
        padding: 1.5rem;
        margin-top: 50px;
    }

    .about main .supplement{
        width: 100%;
        padding: 1.5rem;
        margin-top: 50px;
    }
    
}