@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    z-index: 10000;
    background: #fff;
}

header .logo__container{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .logo__container img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

header .logo__container .logo__description a{
    text-decoration: none;
    color: #010101;
    text-transform: uppercase;
}

header .navigation__bar{
    width: 40%;
    height: 100%;
}

header .navigation__bar .nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header .navigation__bar .nav__list .nav__items{
    list-style: none;
    display: inline-block;
}

header .navigation__bar .nav__list .nav__items a{
    text-decoration: none;
    font-size: 19px;
    color: #010101;
    transition: all .3s ease-in-out;
}

header .navigation__bar .nav__list .nav__items a:hover{
    padding: 1rem;
    background: #010101;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
}

header .cont a{
    border: 1px solid #18191a;
    font-size: 19px;
    padding: 1.2rem;
    text-decoration: none;
    color: #f1f1f1;
    background-color: #18191a;
}

section{
    position: relative;
    top: 6.5rem;
    height: 100vh;
}

.hero{
    height: 90vh;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.hero .text__presentation{
    text-align: center;
}

.hero .text__presentation h2{
    font-size: 40px;
}

.hero .text__presentation h2 span{
    font-size: 50px;
    text-transform: capitalize;
}

.hero .text__presentation h2 span span{
    color: rgb(194, 16, 51);
    text-transform: uppercase;
}

.hero .text__presentation p{
    font-size: 30px;
}

.about{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about h2{
    font-size: 50px;
    text-transform: uppercase;
}

.about main{
    width: 50%;
    height: 30%;
    margin-top: 2rem;
}

.about main .presentation{
    width: 100%;
    height: 100%;
    text-align: center;
}

.about main .presentation p{
    font-size: 18px;
    letter-spacing: 1px;
}

.about main .presentation p a{
    font-size: 20px;
    text-decoration: none;
    color: #010101;
    transition: all .3s ease-in-out;
}

.about main .presentation p a:hover{
    text-decoration: underline;
    color: rgb(194, 16, 51);;
}

.skills{
    width: 100%;
    height: 50vh;
    border: 1px solid #010101;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.skills h2{
    font-size: 50px;
    text-transform: uppercase;   
}

.skills .skills__container{
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills .skills__container .skill{
    width: 100%;
    height: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.skills .skills__container .skill h3{
    font-size: 25px;
    text-transform: uppercase;
}

.skills .skills__container .skill .progress__bar{
    width: 70%;
    height: 20%;
    border: 1px solid #010101;
    border-radius: 20px;
}

.skills .skills__container .skill .progress__bar .progress1{
    width: 95%;
    height: 100%;
    background-color: #010101;
}

.skills .skills__container .skill .progress__bar .progress2{
    width: 80%;
    height: 100%;
    background-color: #010101;
}


.skills .skills__container .skill .progress__bar .progress3{
    width: 60%;
    height: 100%;
    background-color: #010101;
}

.skills .skills__container .skill .progress__bar .progress4{
    width: 70%;
    height: 100%;
    background-color: #010101;
}